{% extends 'base.html' %}
{%load static%}
{% block title %}Sales Overview{% endblock %}

{% block content %}
<h1>Sales Overview</h1>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity Sold</th>
            <th>Total Sales</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.item_name }}</td>
            <td>{{ sale.total_quantity }}</td>
            <td>${{ sale.total_sales }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
